spring:
  datasource:
    url: ${DB_URL1}?rewriteBatchedStatements=true
    username: ${DB_USERNAME1}
    password: ${DB_PASSWORD1}

  jpa:
    show-sql: true
    open-in-view: false
    hibernate:
      ddl-auto: update

  cache:
    type: redis

  data:
    redis:
      host: localhost
      port: 6379


server:
  error:
    include-message: always
  port: 8080

jwt:
  secret:
    key: ${SECRET_KEY}